<h1>
  Projects 😎
</h1>

<div class="tab-shadow">
<mat-tab-group>
  <mat-tab >
    <ng-template matTabLabel>
      <span class="custom-label">Complete 🏁</span>
    </ng-template>

    @for(project of completeProjectList; track project.title){

      <mat-card class="project-card" appearance="raised">
        <div class="badge">NEW</div>
        <mat-card-header class="card-header">
          <mat-card-title>
            <h4>{{project.title}}</h4>
          </mat-card-title>
        </mat-card-header>

        <img mat-card-lg-image [src]="project.imgUrl" >

        <mat-card-content>
          <hr>
          <p>{{project.agenda}}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button style="width: 100%" (click)="openProject(project)">View More</button>
        </mat-card-actions>
      </mat-card>

    }

  </mat-tab>


  <mat-tab >
    <ng-template matTabLabel>
      <span class="custom-label">Demo ✨</span>
    </ng-template>
    @for(project of demoProjectList; track project.title){

      <mat-card class="project-card" appearance="raised">
        <mat-card-header class="card-header">
          <mat-card-title>
            <h4>{{project.title}}</h4>
          </mat-card-title>
        </mat-card-header>

        <img mat-card-lg-image [src]="project.imgUrl" >

        <mat-card-content>
          <hr>
          <p>{{project.agenda}}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button style="width: 100%"  (click)="openProject(project)">View More</button>
        </mat-card-actions>
      </mat-card>

    }

  </mat-tab>



<mat-tab>
    <ng-template matTabLabel>
      <span class="custom-label">Algorithms ⏰</span>
    </ng-template>
  @for(project of algorithmProjectList; track project.title){

    <mat-card class="project-card" appearance="raised">
      <mat-card-header class="card-header">
        <mat-card-title>
          <h4>{{project.title}}</h4>
        </mat-card-title>
      </mat-card-header>

      <img mat-card-lg-image [src]="project.imgUrl" >

      <mat-card-content>
        <hr>
        <p>{{project.agenda}}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button style="width: 100%"  (click)="openProject(project)">View More</button>
      </mat-card-actions>
    </mat-card>
  }
  </mat-tab>

</mat-tab-group>
</div>
