
h1 {
  text-align: center;
  padding: 2rem;
  font-weight: bolder;
  text-shadow:   3px 3px  black;
  font-family: Calibri;
  color:  #00dddd;
}

mat-tab-group {
  text-align: center;
  margin: auto;
  padding-bottom: 3rem;
}


.project-card {
  margin-top: 1rem;
  display: inline-block;
  width: 60%;
  background: linear-gradient(to bottom right, #004f4f, rgba(0, 79, 79, 0.56));
  box-shadow: 0 0 20px 16px #0000001f;
  overflow: hidden;
}

.custom-label{
  color: aliceblue;
  font-weight: lighter;
  font-size: 1.2rem;
}



.tab-shadow{
  margin: auto;
  width: 60%;
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.4), 10px 0 20px -10px rgba(0, 0, 0, 0.4);
  /*box-shadow: -1rem 1rem  1rem  1rem black;*/
  margin-bottom: 2rem;
  min-height: 80vh;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: yellowgreen;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}
.empty-alert {
  box-shadow: 0px 4px 0px 4px rgba(0, 0, 0, 40);
  font-family: "Arial";
  margin: auto;
  font-weight: bold;
  line-height: 1.5;
  font-size: 2rem;
  text-align: center;
  color: #0e0404;
  margin-top: 15%;
  margin-bottom: 15%;
  padding: 4rem;
  width: 50%;
  border-radius: 2rem;
  background: rgba(255, 255, 0, 0.76);
  border: 2px solid black
}

.empty-alert p{
  font-size: 1rem;
}



.card-header {
  padding: 1rem;
  justify-content: center;
  align-items: center;
}


@media (max-width: 700px) {
  .tab-shadow{
    width: 100%;
  }

  .project-card{
    width: 90%;
  }
}
