:host {
  display: flex;
  flex-direction: column;
  max-height: 100%;
 background: linear-gradient(to bottom right, #004a4a, #004a4a );

  color: white;
  height: 100%;
}


mat-dialog-content{
  height: 100vh !important;
}

