:host {
  display: flex;
  flex-direction: column;
  /*min-height: 100%;*/
 /*background: linear-gradient(to bottom right, #004a4a, #004a4a );*/
 background: linear-gradient(to bottom right, rgba(16, 84, 84, 0.5), #004a4a );

  color: white;
  height: 200%;
}


mat-dialog-content{
  height: 100vh !important;
}

