
<div style="padding: 3rem; display: grid; grid-template-columns: 1fr 16fr; column-gap: 1rem; ">
  <div style="position: sticky; display: flex; flex-direction: column; gap: 2rem;  grid-row: 1/2;
  align-self: start; top: 3rem; grid-column: 1;">
    <button mat-icon-button mat-dialog-close><mat-icon style="color: #00dddd; opacity: 0.8;">arrow_back</mat-icon></button>
    <button mat-icon-button style="color: #00dddd; opacity: 0.8;"><mat-icon style="color: #00dddd; opacity: 0.8;">favorite</mat-icon></button>
    <button mat-icon-button style="color: #00dddd; opacity: 0.8;"><mat-icon style="color: #00dddd; opacity: 0.8;" (click)="copyLink(this.data.id)">share</mat-icon></button>
  </div>
  <div style="grid-column: 2; border: 2px solid #00dddd; border-radius: 2rem; padding: 2rem; " [innerHtml]="html"></div>
</div>

