<div class="home-grid-container">
  <div class="welcome">
    <h1>Welcome 😀</h1>
  </div>

  <div class="home-about">
    <div class="about-container">
      <h4>What this site is about?</h4>
      <p>
        Well, it is a portfolio website where you can discover my work. Here you will find:
      </p>
      <ul>
        <li>My personal blog with articles related to programming</li>
        <li>Projects I develop, also with links to repositories ;)</li>
        <li>And also, my contacts</li>
      </ul>
      <p>
        I hope your visit will not be boring, so come on into investigation!
      </p>
    </div>
  </div>
  <div class="pepe-interested">
    <img src="assets/pepe-wow.png">
  </div>

  <div class="home-delimiter">
    <hr>
  </div>

  <div class="home-skills-banner">
<!--            <div style="align-self: start">-->
<!--              <img height="200px" src="assets/pepe-hard.png">-->
<!--            </div>-->
    <h3>What About skills ?</h3>
  </div>

  <div class="home-skills">

    <div class="skills-container">
      <div class=" skill skill-1">
        <h5>Java</h5>
        <p>Extensive experience in developing robust backend systems for various enterprise applications.</p>
      </div>
      <div class="skill skill-2">
        <h5>Spring Boot</h5>
        <p>Used for building microservices architecture in several projects, enabling rapid development and deployment.</p>
      </div>
      <div class=" skill skill-3">
        <h5>Angular</h5>
        <p>Developed dynamic single-page applications (SPAs) with a focus on user experience and performance.</p>
      </div>
      <div class="skill skill-4">
        <h5>Docker</h5>
        <p>Containerized applications for consistent environments across different stages of development.</p>
      </div>
      <div class="skill skill-5">
        <h5>Kafka</h5>
        <p>Implemented real-time data streaming and processing for high-throughput messaging systems.</p>
      </div>
      <div class="skill skill-6">
        <h5>AWS</h5>
        <p>Deployed and managed cloud infrastructure for scalable and resilient applications.</p>
      </div>
      <div class="skill skill-7">
        <h5>PostgreSQL</h5>
        <p>Designed and optimized database schemas for complex queries and high data integrity.</p>
      </div>
      <div class="skill skill-8">
        <h5>Git</h5>
        <p>Utilized version control for efficient collaboration and code management in team projects.</p>
      </div>

      <div class="skill skill-9">
        <h5>Soft Skills</h5>
        <p>Utilized version control for efficient collaboration and code management in team projects.</p>
      </div>
    </div>
  </div>

</div>


<div class="home-delimiter" style="padding-top: 3rem">
  <hr>
</div>

<div class="video-player">
    <video controls  autoplay loop muted src="assets/pepe-vid.mp4" width="40%" style="text-align: center">
      <source src="assets/pepe-vid.mp4" type="video/mp4">
    </video>
</div>



<div class="home-delimiter" style="padding-top: 3rem">
  <hr>
</div>


<div class="logos">

  <div class="logo-slide">
    <img src="assets/logo/Java-logo.png" />
    <img src="assets/logo/spring-boot-logo.png" />
    <img src="assets/logo/angular-logo.png" />
    <img src="assets/logo/docker-logo.png" />
    <img src="assets/logo/kafka-logo.png" />
    <img src="assets/logo/aws-logo.png" />
    <img src="assets/logo/postgresql-logo.png" />
    <img src="assets/logo/git-logo.png" />

  </div>
  <div class="logo-slide">
    <img src="assets/logo/Java-logo.png" />
    <img src="assets/logo/spring-boot-logo.png" />
    <img src="assets/logo/angular-logo.png" />
    <img src="assets/logo/docker-logo.png" />
    <img src="assets/logo/kafka-logo.png" />
    <img src="assets/logo/aws-logo.png" />
    <img src="assets/logo/postgresql-logo.png" />
    <img src="assets/logo/git-logo.png" />

  </div>
</div>
