<mat-sidenav-container  fullscreen>


  <mat-toolbar style="border-radius: 1rem">

    <img class="pepe" mat-card-image src="assets/pepe-happy.png">

    <div class="action-picker">
      <a mat-button routerLink="" [class.active-route]="activeRoute('/')">
        <mat-icon>coffee</mat-icon>
        Main
      </a>
      <a mat-button [class.active-route]="activeRoute('/portfolio')" routerLink="portfolio">
        <mat-icon>work</mat-icon>
        Projects
      </a>
      <a mat-button [class.active-route]="activeRoute('/blog')" routerLink="blog">
        <mat-icon>school</mat-icon>
        Blog
      </a>
      <a mat-button [class.active-route]="activeRoute('/about')" routerLink="about">
        <mat-icon>alternate_email</mat-icon>
        About
      </a>
    </div>


    <div class="action-picker-mobile">
      <button (click)="toggleMobileMenu()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      </div>
  </mat-toolbar>
  @if(window.innerWidth < 700 && mobileMenuState == 'opened'){
    <div
      style="display: flex; flex-direction: column; align-items: center;
      justify-content: space-between ;
       overflow: hidden;sz-index: 1;
        margin: auto;
         background: #006a6a; width: 80vw; height: 30vh;
          border-radius: 2rem;
            box-shadow: 0 12px 2px 0 black"
      [@openClose]="mobileMenuState"
    >
      <button  mat-raised-button  style="width: 50%; margin-top: 2rem"> Button</button>
      <button mat-raised-button  style="width: 50%"> Button</button>
      <button mat-raised-button style="width: 50%"> Button</button>
      <button mat-raised-button  style="width: 50%; margin-bottom: 2rem"> Button</button>
    </div>
    <div style="height: 2rem">

    </div>
  }
  <router-outlet/>


  <footer class="footer-container">

    <div class="footer-nav">
      <div class="footer-btn footer-c-items" routerLink="/about">
        <i>
          <img height="40" src="../assets/002-ask.png"/>
        </i>
        <a>About</a>
      </div>
      <div class="footer-btn footer-c-items" routerLink="/blog">
        <i>
          <img height="40" src="assets/001-blogging.png"/>
        </i>
        <a>Blog</a>
      </div>
      <div class="footer-btn footer-c-items" routerLink="/portfolio">
        <i>
          <img height="40" src="assets/002-portfolio.png"/>
        </i>
        <a>Projects</a>
      </div>
    </div>

    <div class="footer-nav">
      <div class="footer-c-items">
        <i>
          <img height="40" src="assets/004-telephone.png"/>
        </i>
        <a href="tel:+1234567890" (click)="copyToClipboard('+1234567890')">Phone</a>
      </div>
      <div class="footer-c-items">
        <i>
          <img height="40" src="assets/001-gmail.png"/>
        </i>
        <a href="mailto:vadimtsudenko@gmail.com" (click)="copyToClipboard('vadimtsudenko@gmail.com')" >Email</a>
      </div>

      <div class="footer-s-items">
        <i>
          <img height="40" src="assets/003-logo.png"/>
        </i>
        <i>
        <img height="40" src="assets/002-facebook.png"/>
      </i>
      </div>
    </div>
    <div class="footer-img">
      <img src="assets/pepe-good.png">
    </div>

    <!--    </div>-->
  </footer>
  <div class="footer-bottom">
    <p>&copy; 2024 <strong>Vadick Company</strong>. All Rights Reserved.</p>
  </div>


</mat-sidenav-container>
