.blog-container {
  display: grid;
  grid-template-columns:1fr 3fr 1fr;
  padding-bottom: 2rem;
  align-items: center;
}

.blog-content {
  grid-column: 2/3;
  min-height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 40);
}


.blog-content-nav {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: start;
  position: sticky;
  top: 2rem;
  margin: 1rem;

  border-radius: 0.5rem;
  border: 3px solid orange;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 40);
  display: flex;
  flex-direction: column;
}

.nav-category-pointer {
  display: none;
  justify-content: start;
  color: darkorange;
}

.content-nav {
  padding: 1rem;
  align-self: center;
  align-items: center;
  justify-items: center;
}

.current-category {
  font-weight: bold;
}

.current-category .nav-category-pointer {
  display: contents;
}

.content-nav-item {
  text-align: center;
  color: azure;
  padding: 1rem;
  font-size: 1.5rem;
  text-shadow: 4px 4px 3px rgb(0, 0, 0);
}

.content-nav :hover {
  cursor: pointer;
  color: #00dddd;
}


.blog-article-list {
  display: flex;
  flex-direction: column;

}


.article {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
  border: 3px solid rgb(1, 110, 47);
  background: linear-gradient(to top left, #2b2b2f, #0e0404);;
  margin: 1rem;
  border-radius: 1rem;
}

.article-header {
  padding-top: 1rem;
  justify-self: center
}


.article-preview {
  grid-column: 2/3;
}

.article-read {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: end;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.5rem;
}

.article-read button {
  color: darkorange;
  font-size: 1rem;
}


.article-read :hover {
  color: #00dddd;
}


.article-img {
  grid-column: 1/2;
  grid-row: 1/4;
  background: #1c1b1b;
  height: inherit;
  border-radius: 1rem;
}

.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}


.empty-alert {
  box-shadow: 0px 4px 0px 4px rgba(0, 0, 0, 40);
  font-family: "Arial";
  font-weight: bold;
  line-height: 1.5;
  font-size: 2rem;
  text-align: center;
  color: #0e0404;
  margin-top: 20%;
  padding: 4rem;
  align-self: center;
  border-radius: 2rem;
  background: rgb(255, 193, 13);
  border: 2px solid black
}

.empty-alert p{
  font-size: 1rem;
}
